// Color Variables

// Base Colors
$color-white: #FFFFFF;
$color-black: #000000;

// Gray Scale
$color-gray-400: #7C8F8F;
$color-gray-300: #B7C4C4;

// Green Scale
$color-green-900: #2B3939;
$color-green-400: #5CA5A5;
$color-green-350: #63BABA;
$color-green-50: #EFFAFA;

