// Media Query Mixins
// Mobile-first approach

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Tablet and up
@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

// Desktop and up
@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

