// Main Variables File

@import 'reset';
@import 'colors';
@import 'typography';
@import 'spacing';
@import 'mixins';

$max-width: 1110px;
$box-shadow: 0 15px 20px -5px rgba($color-green-400, 0.15);

