.tag {
    @include text-preset-3-bold;
    background-color: $color-green-50;
    color: $color-green-400;
    padding: $spacing-100 $spacing-100;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
        background-color: $color-green-400;
        color: $color-white;
    }
}

