@import '../../../styles/_variables.scss';

.header {
  width: 100%;
  height: 156px;
  background-color: $color-green-400;
  position: relative;
  overflow: hidden;
  
  @include tablet {
    height: 160px;
  }
  
  &__bg-mobile,
  &__bg-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
  &__bg-mobile {
    display: block;
    
    @include tablet {
      display: none;
    }
  }
  
  &__bg-desktop {
    display: none;
    
    @include tablet {
      display: block;
    }
  }
}

