.badge {
    @include text-preset-6;
    padding: 6px $spacing-100;
    border-radius: 12px;
    text-transform: uppercase;
    color: $color-white;

    &--new {
        background-color: $color-green-400;
    }

    &--featured {
        background-color: $color-green-900;
    }
}

