@import './styles/_variables.scss';

body {
    background-color: $color-green-50;
}

.job-listings {
    list-style: none;
    padding: 0;
    margin: 0;
    
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-300;
        align-items: stretch;
    }
    
    @include desktop {
        display: block;
        max-width: 1110px;
        margin: $spacing-500 auto 0;
    }
    
    &__item {
        @include tablet {
            display: flex;
        }
    }
}